/* Carousel.css */
.carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel-item {
  flex: 1 0 240px;
  padding: 10px;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.category-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.category-name:hover {
    text-decoration-line: underline;
}

.add-category {
}

.remove-category {
    position: absolute;
    top: -10px; /* Offset from the top */
    right: -10px; /* Offset from the right */
    height: 26px;
    width: 26px;
    background-color: #cecece;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.remove-category * {
}