.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #313131;
  color: #565656;
  height: 75px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.App-title {
  font-size: 6rem;
  margin-top: 55px;
}

.App-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

.App-footer {
  background-color: #282c34;
  color: white;
  bottom: 0;
  width: 100%;
}
